<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StockApp</title>
</head>
<body>
    <h1>Total symbols count : <%= @qData.keys.length %></h1>
    <hr>
    <% @filteredIndexes.each do |index| %>
        <%= index %> <br>
        <%= @qData[index]['diff'] %> <br>
        <hr>
    <% end %>
</body>
</html>

