<head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<div id="stockPlot" style="width:100%;height:100vh;" data-title='<%= params[:id] %>'></div>

<hr>
<a href="/"><- HOME</a>
<a href="/gpws"><- ALL [WARNING - high load]</a>
<hr>

<%= content_tag :div, class: "hidden", id: 'ldata', data: {lData: @lData} do %>
<% end %>